<div class="container-fluid">

<div class="row">
	<div class="col">

	</div>
</div>

<div class="row mx-auto mt-3 p-3 text-center">
	<% @products.each do |product| %>

			<div class="col-sm-4 border p-3 my-1 bg-white">
					<div class="product-box">
						<h3><%= link_to product.full_title, product %></h3>
						<h6><%= product.quantity %></h6>

						<% product.prices.where(:current => 1).order(:price).limit(1).each do |prices| %>
								<h4 class="btn-success"><%= number_to_currency(prices.price, :unit => "£ ") %> </h4> <p> <%= prices.shop.name %> | <%= prices.last_update %> </p>
						<% end %>

						<%= link_to "View", product, class: 'btn btn-primary' %>
						<%= link_to "+ Add Price", new_price_path(id: product.id), class: 'btn btn-secondary' %>							

					</div>
			</div>

	<% end %>

</div>

</div>

</div>

